@-webkit-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-moz-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-ms-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-o-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}



@-webkit-keyframes spinning {
  from { }
  to { @include rotate(-360deg); -webkit-transform-origin: center center; }
}

@-moz-keyframes spinning {
  from { }
  to { @include rotate(-360deg);  }
}

@-ms-keyframes spinning {
  from { }
  to { @include rotate(-360deg);  }
}

@-o-keyframes spinning {
  from { }
  to { @include rotate(-360deg);  }
}

@keyframes spinning {
  from { }
  to { @include rotate(-360deg);  }
}