@-webkit-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-moz-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-ms-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@-o-keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}

@keyframes pairing {
   from { background-position:    0px 0px; }
     to { background-position: 0px -506px; }
}



@-webkit-keyframes spinning {
  from { }
  to { @include rotate(-360deg); }
}

@-moz-keyframes spinning {
  from { background-image: url('../img/searching@2x.png')}
  to { @include rotate(-360deg);  background-image: url('../img/searching@2x.png')}
}

@-ms-keyframes spinning {
  from { background-image: url('../img/searching@2x.png')}
  to { @include rotate(-360deg);  background-image: url('../img/searching@2x.png')}
}

@-o-keyframes spinning {
  from { background-image: url('../img/searching@2x.png')}
  to { @include rotate(-360deg);  background-image: url('../img/searching@2x.png')}
}

@keyframes spinning {
  from { background-image: url('../img/searching@2x@2x.png'); }
  to { @include rotate(-360deg);  background-image: url('../img/searching@2x.png')}
}