@import "shared";
@import "learn-more/hero";
@import "learn-more/what-is-locket";
@import "learn-more/bluetooth-le";
@import "learn-more/security";
@import "learn-more/just-the-beginning";

body { 
	overflow: hidden;

	&.returning {
		overflow-y: visible;
	}
}

section {
	padding: 3em 0 7em;
	text-align: center;
	position: relative;
	background-color: white;
	z-index:3;
}


