.folded {
	@include transition(height, 1s);

}

#video-viewport {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;	
    z-index: 1; /* for accessing the video by click */
    @include tablet { visibility: hidden; position: absolute; }

    video {
		position: absolute;
		top: 0;
		left:0;
		z-index: 1;
	}

	#locket-played-video {
		z-index: 4;
		display: none;
	}

}
section#above-the-fold { 
	
	@include box-sizing(border-box);
	background: none;
	overflow: hidden;
	color: white;
	position: fixed;
	z-index: 3;

	@include tablet { 
		position: relative; 
		background: url(../img/static-hero2.jpg) center no-repeat; 
		background-size: 1140px; 
		background-position: bottom;
		z-index: 2;
		box-shadow: inset 0px -200px 200px 0px rgba(0, 0, 0, .6);
		min-height: 610px;
	}

	@include mobile {
		background-size: 857px;
		background-position: bottom;
		box-shadow: inset 0px -150px 150px 0px rgba(0, 0, 0, .6);
		min-height: none;
	}

	

	&.play {

		svg { @include opacity(.4); }
	}

	.wrapper { 
		max-width: none; 
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.hero {
		position: absolute;
		top: 50%;
		margin-top: -125px;
		left: 0;
		right: 0;
		bottom: 0;
		@include transition(all, 250ms);

		&.hidden {
			@include scale(0.95);
			@include opacity(0);
			margin-top: -135px;
			
			* { cursor: default }
		}

		@include tablet {
			top: auto;
			bottom: 100px;
			margin-top: 0;
		}

		@include mobile{ 
			top: auto;
			bottom: 50px;
		}
	}

	h1 { 
		font-size: 3.5em; 
		text-align: center;
		margin: 0;
		text-shadow: 0px 0px 20px rgba(0,0,0,.1);
		cursor: pointer;

		em, strong {
			border-bottom: 1px solid rgba(255,255,255,.3);
			@include inline-block;
			@include transition(all, 300ms);
		}

		strong {
			margin-left: 16px;
			font-weight: 100;
			
		}

		em {
			font-style: normal;
			margin-left: 4px;
			font-weight: 100;
			letter-spacing: -1px;
		}


		@include tablet {
			font-size: 5em;
		}
		@include mobile { 
			font-size: 3em;
			text-shadow: none;
		}


	}

	h2 { 
		font-size: 0.7em;
		text-align: center;
		text-indent: 10px;
		font-weight: 700;
		margin: 0;
		text-shadow: 0px 0px 10px rgba(0,0,0,.1);
		text-indent: 0;
		letter-spacing: 6px;
		text-transform: uppercase;
		display: none;
		
		
		@include tablet {
			@include inline-block;
			font-size: 1.15em;
			letter-spacing: 10px;
			border: 0;
			margin: 0;
			
		}
		@include mobile {
			font-size: 0.8em;
			letter-spacing: 6px;
			text-shadow: none;
			img {
				margin-top: 25px;
			}
		}
	}

	h3 {
		font-size: 2.7em;
		margin-top: 0px;

		@include tablet {
			display: none;
		}
	}

	a#video-play-trigger {
		font-size: 1em;
		padding-top: 15px;
		margin: 0 15px;
		text-align: center;
		color: white;
		@include inline-block;
		vertical-align: top;
		@include transition(all, 700ms, 150ms);
		
	  

		@include tablet { 
			position: absolute;
			left: 0;
			right: 0;
			bottom: 360px; 
			font-size: 5em;
		}

		@include mobile { bottom: 306px; font-size: 4em }

	}

	h1:hover {

		em, strong {
			border-color: rgba(255,255,255,.5);
		      
		}
		a#video-play-trigger {
			font-size: 1.25em;
			@include transition(all, 150ms);
			
		}

	}

	.hero.watch-again {
		h1 strong { 
			margin-left: 0px;
		}

		h1 em {
			margin-left: 0;
		}
		h2 {
			margin-left: 8px;
			@include inline-block;
		}
		h3 {
			display: none;
		}

	}

	

}


@-webkit-keyframes attention {
   0% {
      @include scale(1);

      
   }  

   50% {
       @include scale(1.1);
   }

   100% {
       @include scale(1);
   }

}

@-moz-keyframes attention {
   0% {
      @include scale(1);

      
   }  

   50% {
       @include scale(1.15);
   }

   100% {
       @include scale(1);
   }
}

@-o-keyframes attention {
   0% {
      @include scale(1);

      
   }  

   50% {
       @include scale(1.15);
   }

   100% {
       @include scale(1);
   }
}

@keyframes attention {
   0% {
      @include scale(1);

      
   }  

   50% {
       @include scale(1.15);
   }

   100% {
       @include scale(1);
   }
}

