.folded {
	@include transition(height, 1s);

}

#video-viewport {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;	
    z-index: 1; /* for accessing the video by click */
    @include tablet { visibility: hidden; position: absolute; }

    video {
		position: absolute;
		top: 0;
		left:0;
		z-index: 1;
	}

}
section#above-the-fold { 
	
	@include box-sizing(border-box);
	background: none;
	overflow: hidden;
	color: white;
	position: fixed;
	z-index: 2;

	@include tablet { 
		position: relative; 
		background: url(../img/static-hero2.jpg) center no-repeat; 
		background-size: 1140px; 
		background-position: bottom;
		z-index: 2;
		box-shadow: inset 0px -200px 200px 0px rgba(0, 0, 0, .6);
		min-height: 610px;
	}

	@include mobile {
		background-size: 857px;
		background-position: bottom;
		box-shadow: inset 0px -150px 150px 0px rgba(0, 0, 0, .6);
		min-height: none;
	}

	

	&.play {

		svg { @include opacity(.4); }
	}

	.wrapper { 
		max-width: none; 
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	h1 { 
		font-size: 3em; 
		text-align: center;
		margin: 0;
		@include tablet {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 665px;
			font-size: 4em;
			text-shadow: 0px 0px 30px rgba(0,0,0,1);
		}
		@include mobile { 
			font-size: 3em;
			bottom: 160px;
			text-shadow: none;
		}
	}

	h2 { 
		font-size: .85em;
		text-align: center; 
		text-transform: uppercase;
		text-indent: 10px;
		font-weight: 700;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
		@include tablet {
			font-size: .95em;
			letter-spacing: 8px;
			bottom: 645px;
			text-shadow: 0px 0px 10px rgba(0,0,0,1);
		}
		@include mobile {
			font-size: 0.85em;
			bottom: 55px;
			letter-spacing: 6px;
			text-shadow: none;
			img {
				margin-top: 25px;
			}
		}
	}

	a#video-play-trigger {
		display: none;
		font-size: 4.5em;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		color: white;

		@include tablet { display: block; bottom: 464px; }
		@include mobile { bottom: 354px; font-size: 4em }
	}



}


