section#just-the-beginning {

	border-top: 1px solid #eee;
	padding-bottom: 12em;

	@include mobile { 
		background: #f5f5f5;
		padding-bottom: 6em;
	};

	.half { 
		@include tablet { width: 100%; }
	}

	div.left.half { 
		padding: 4.3em 4.0em 1em 0; 
		@include tablet { padding: 1em 5em; margin-left: .5em; }; 
		@include mobile { padding: 0 }
	}


	.right.half { 
		position: relative; 
		margin-top: 2.85em;
		height: 400px;
		@include tablet { width: 70%; margin-right: 15%;  }
		@include mobile { width: 100%; margin: 0; height: 430px; margin-top: 3em; }

	}
	
	h1 {
		@include mobile { padding: 0 1em; }

	}
	h4 { 
		width: 35%;
		position: absolute;
		right: 135px;
		top: 160px; @include tablet { top: 136px; }
		margin-top: 35px;
		font-size: 9px;
		strong {
			font-family: georgia, serif;
			font-size: 3.5em;
			font-weight: 100;
			letter-spacing: -1px;
			display: block;
		}

		&#votes-so-far {
			margin-top: -30px;
		}
	}

	h5{ 
		text-align: left;
		font-size: 0.85em;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		@include opacity(.9);
		margin: 2.5em 0 1.1em;
	}

	#progress-bar {
		width: 90px;
		height: 3px;
		@include border-radius(15px);
		background: #f2f2f2;
		position: absolute;
		right: 50%;
		margin-right: -45px;
		top: 50%;
		margin-top: -10px;
		overflow: hidden;
		text-align: right;
		
		

		span {
			position: absolute;
			top: 0;
			left:0;
			bottom:0;
			min-width: 30px;
			background: #131513;
			padding-right: 10px;
		
			@include box-sizing(border-box);

		}

	}
	a { font-size: .75em; margin: 1em; }

	#vote {

		display: block;



		li { 
			background-color: #fff; 
			background-position: center; 
			background-repeat: no-repeat;
			background-size: 40%;
			border: 1px solid #ddd;
			border-top-color: #f5f5f5;
			border-left-color: #f5f5f5;
			width: 115px; 
			height: 115px;
			position: absolute;
			display: block;
			@include transition(all, 250ms);
			transform: translateZ(0);
			z-index: 1;

			a { 
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin:0;
			}

			em {
				
				position: absolute;
				bottom: 45px;
				padding: 2px 0 3px;
				left: -7px;
				right:122px;
				height: 20px;
				background: rgba(19,21,19,.97);
				color: #131513;
				text-align: center;
				font-size: 8px;
				font-weight: 700;
				font-family: georgia, serif;
				text-transform: lowercase;
				line-height: 10px;
				overflow: hidden;
				
				@include transition(all, 150ms);

				span {
					font-size: 9px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-family: 'brandon-grotesque';
					display: block;
					font-style: normal;
				}
			}


			&:hover {
				@include scale(1.2);
				box-shadow: 0px 38px 50px 0px rgba(0, 0, 0, .2);
				z-index: 2;

				em {
					left: -7px;
					right: -7px;
					color: white;
				}

				&:before, a:after {
						position: absolute;
						left:-14px;
						bottom:63px;
						display: block;
						width: 7px;
						height: 7px;
						background: transparent;
						border-right: 7px solid #131513;
						border-top: 7px solid transparent;
						content: ""
				}

				a:after {
					left: auto;
					right: -14px;
					bottom: 38px;
					border-right: none;
					border-top: none;
					border-left: 7px solid #131513;
					border-bottom: 7px solid transparent;
				}
			}

			

			.count {
				display: block;
				position: absolute;
				top: -3px;
				right: 10px;
				background-color: #131513;
				color: #fff;
				padding: 2px 6px 8px;
				font-family: georgia, serif; 
				font-weight: 100;
				overflow: hidden;


				&:after {
					position: absolute;
					bottom: -1px;
					left:0;
					@include inline-block;
					font-size: 10px;
					width: 100%;
					height: 7px;
					vertical-align: middle;
					border-style: dashed;
					border-color: transparent;
					border-width: 7px;
					border-bottom-style: solid;
					border-bottom-color: #fff;
					content: "";
				}
			}


			&.circle {
				.count {
					top: 1px;
				}
			}
		}

		#vote-gmail { 
			background-image: url('../img/learn-more/future-gmail.jpg');
			left: 0;
			background-size: 50%; 

			
		}

		#vote-lights {
			background-image: url('../img/learn-more/future-lightswitch.jpg');
			@include border-radius(150px);
			left: 50%;
			top: -15px;
			margin-left: -57px;
		}

		#vote-bank {
			background-image: url('../img/learn-more/future-boa.jpg');
			background-size: 70%;
			right: 0;
		}

		#vote-auto {
			background-image: url('../img/learn-more/future-audi.jpg');
			background-size: 70%;
			right: 0;
			top: 145px;
		}

		#vote-bikelock {
			background-image: url('../img/learn-more/future-bikelock.jpg');
			@include border-radius(150px);
			top: 145px;
			left: -7px;
		}

		#vote-facebook {
			background-image: url('../img/learn-more/future-fb.jpg');
			bottom: 0;
			left: 0;
		
		}

		#vote-ipad {
			background-image: url('../img/learn-more/future-ipad.jpg');
			@include border-radius(150px);
			right: 0;
			bottom: 0;
		}

		#vote-other {
			background-image: url('../img/learn-more/future-suggest.jpg');
			background-size: 55%;
			left: 50%;
			margin-left: -57px;
			bottom: -15px;
		}

	}
}

section#just-the-beginning.play {

	#vote-gmail {
		-webkit-animation: jump .5s 0s ease-out 1;
           -moz-animation: jump .5s 0s ease-out 1;
            -ms-animation: jump .5s 0s ease-out 1;
             -o-animation: jump .5s 0s ease-out 1;
                animation: jump .5s 0s ease-out 1;
    }

    #vote-lights { 
		-webkit-animation: jump .5s .05s ease-out 1;
           -moz-animation: jump .5s .05s ease-out 1;
            -ms-animation: jump .5s .05s ease-out 1;
             -o-animation: jump .5s .05s ease-out 1;
                animation: jump .5s .05s ease-out 1;
    }

    #vote-bank {
		-webkit-animation: jump .5s .1s ease-out 1;
           -moz-animation: jump .5s .1s ease-out 1;
            -ms-animation: jump .5s .1s ease-out 1;
             -o-animation: jump .5s .1s ease-out 1;
                animation: jump .5s .1s ease-out 1;
    }

    #vote-auto {
		-webkit-animation: jump .5s .15s ease-out 1;
           -moz-animation: jump .5s .15s ease-out 1;
            -ms-animation: jump .5s .15s ease-out 1;
             -o-animation: jump .5s .15s ease-out 1;
                animation: jump .5s .15s ease-out 1;
    }

    #vote-ipad {
		-webkit-animation: jump .5s .2s ease-out 1;
           -moz-animation: jump .5s .2s ease-out 1;
            -ms-animation: jump .5s .2s ease-out 1;
             -o-animation: jump .5s .2s ease-out 1;
                animation: jump .5s .2s ease-out 1;
    }

    #vote-other {
		-webkit-animation: jump .5s .25s ease-out 1;
           -moz-animation: jump .5s .25s ease-out 1;
            -ms-animation: jump .5s .25s ease-out 1;
             -o-animation: jump .5s .25s ease-out 1;
                animation: jump .5s .25s ease-out 1;
    }

    #vote-facebook {
		-webkit-animation: jump .5s .1s ease-out 1;
           -moz-animation: jump .5s .1s ease-out 1;
            -ms-animation: jump .5s .1s ease-out 1;
             -o-animation: jump .5s .1s ease-out 1;
                animation: jump .5s .1s ease-out 1;
    }
    #vote-bikelock {
		-webkit-animation: jump .5s .05s ease-out 1;
           -moz-animation: jump .5s .05s ease-out 1;
            -ms-animation: jump .5s .05s ease-out 1;
             -o-animation: jump .5s .05s ease-out 1;
                animation: jump .5s .05s ease-out 1;
    }

}

@-webkit-keyframes jump {
   0% {
      @include scale(1);
   }  

   50% {
      @include scale(1.15);
      box-shadow: 0px 38px 50px 0px rgba(0, 0, 0, .2);
   }

   100% {
   	  @include scale(1);
   }

}

@-moz-keyframes double-tap-wave {
   0% {
      @include opacity(.9);

      
   }  

   100% {
       font-size: 40px;
       @include opacity(0);
   }
}

@-o-keyframes double-tap-wave {
   0% {
      @include opacity(.9);

      
   }  

   100% {
       font-size: 40px;
       @include opacity(0);
   }
}

@keyframes double-tap-wave {
   0% {
      @include opacity(.9);

      
   }  

   100% {
       font-size: 40px;
       @include opacity(0);
   }
}
